.product-grid{ font-family: 'Roboto', sans-serif; }
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{ width: 25%; }
.product-grid .product-image .pic-1{ transition: all .5s ease; }
.product-grid:hover .product-image .pic-1{
    opacity: 0;
    transform: skew(-15deg);
}
.product-grid .product-image .pic-2{

    opacity: 0;
    transform: skew(15deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
.product-grid:hover .product-image .pic-2{
    opacity: 1;
    transform: rotateY(0deg);
}
.product-grid .product-like-icon{
    color: #fff;
    background-color: #555;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .55s ease-in-out;
}
.product-grid .product-like-icon:hover{
    color: #fff;
    background-color: #00b6a5;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: all .3s ease;
}
.product-grid:hover .product-links{
    opacity: 1;
    transform: rotate(0);
}
.product-grid .product-links li{ margin: 2px 0; }
.product-grid .product-links li a{
    color: #fff;
    background-color: #555;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: block;
    transition: all 200ms ease 0s;
}
.product-grid .product-links li a:hover{
    color:#fff;
    background-color: #00b6a5;
}
.product-grid .product-content{
    background: linear-gradient(transparent,#eee);
    padding: 15px;
    position: relative;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.product-grid .title a{
    color: #161616;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #00b6a5; }
.product-grid .price{
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}